.page-main
	&__title
		mh(426) /*временно*/
		padding-top 48px
		padding-bottom 64px
	
	&__title-inner
		mh(312) /*временно*/
		container()
		padding-top 28px
	
	
	&__services
		mh(457) /*временно*/
		padding-top 40px
		padding-bottom 60px
	
	&__services-inner
		container()
	
	&__services-list
		mh(320) /*временно*/
		font-size 0
	
	&__services-item
		mh(320) /*временно*/
		display inline-block
		width 33.33%
		

	&__prices
		mh(1183) /*временно*/
		padding-top 40px
		padding-bottom 60px
	

	&__rules
		mh(376) /*временно*/
	
	&__rules-inner
		container()


	&__advantages
		mh(478) /*временно*/
		padding-top 40px
		padding-bottom 60px
		
	&__advantages-inner
		container()
	

	&__trust
		// padding-top 40px
		// padding-bottom 60px

	&__trust-inner
		container()

	
	&__form
		padding-top 40px
		padding-bottom 60px
	
	&__form-inner
		mh(510) /*временно*/
		container()
		padding-top 30px
		padding-bottom 50px
		
	
	&__addresses
		padding-top 40px
		padding-bottom 60px
		
	&__addresses-inner
		container()
	
	
	&__maps
		mh(694) /*временно*/
	
	&__maps-item
		clearfix()
		




















