.list-rules
	list-style none
	font-size 0
	
	&__item
		display inline-block
		vertical-align top
		position relative
		width 150px
		center()
		padding 135px 10px 0
		margin-bottom 30px
		font-size 1.6rem
		font-weight 700
		
		&:last-child
			margin-bottom 0
		

		&_1
		
			&::before
				content ''
				position absolute
				top 0
				left 50%
				width 128px
				height 128px
				margin-left -64px
				background url('../assets/img/content/rules-icons/item_1.png')
		
		&_2
		
			&::before
				content ''
				position absolute
				top 0
				left 50%
				width 128px
				height 128px
				margin-left -64px
				background url('../assets/img/content/rules-icons/item_2.png')
		
		&_3
		
			&::before
				content ''
				position absolute
				top 0
				left 50%
				width 128px
				height 128px
				margin-left -64px
				background url('../assets/img/content/rules-icons/item_3.png')
	
		&_4
		
			&::before
				content ''
				position absolute
				top 0
				left 50%
				width 128px
				height 128px
				margin-left -64px
				background url('../assets/img/content/rules-icons/item_4.png')
		
		&_5
		
			&::before
				content ''
				position absolute
				top 0
				left 50%
				width 128px
				height 128px
				margin-left -64px
				background url('../assets/img/content/rules-icons/item_5.png')
		
		&_6
		
			&::before
				content ''
				position absolute
				top 0
				left 50%
				width 128px
				height 128px
				margin-left -64px
				background url('../assets/img/content/rules-icons/item_6.png')
	