ul.list-rules
	li.list-rules__item.list-rules__item_1
		|Вы&nbsp;звоните или оставляете заявку
	
	li.list-rules__item.list-rules__item_2
		|Договариваемся о&nbsp;проведении работ
	
	li.list-rules__item.list-rules__item_3
		|Выезжает комманда специалистов
	
	li.list-rules__item.list-rules__item_4
		|Производим погрузочные работы
	
	li.list-rules__item.list-rules__item_5
		|Взвешиваем собранный груз
	
	li.list-rules__item.list-rules__item_6
		|Выплачиваем наличность или делаем перевод