ul.list-advantages
	li.list-advantages__item
		|Любая сложность работ под ключ, быстро и&nbsp;в&nbsp;срок.
	
	li.list-advantages__item
		|Стремление к&nbsp;постоянному сотрудничеству.
	
	li.list-advantages__item
		|Свой автотранспорт и&nbsp;спецоборудование.
	
	li.list-advantages__item
		|Квалифицированный персонал.
	
	li.list-advantages__item
		|26&nbsp;лет работы на&nbsp;рынке.
	
	li.list-advantages__item
		|Учёт рисков.