.list
	font-size 0
	
	&__item
		display inline-block
		
		&_middle
			mh(278) /*временно*/
			width 160px
			padding-top 142px
		
		&_big
			mh(243) /*временно*/
			width 33.33%
			padding-top 204px
			
		&_vertical
			display block
			padding-left 58px
			mh(54) /*временно*/
			width 90%
			padding-right 10%
			margin-left 10%
			