extends ../templates/default/template.pug

block head
	- var path = '';
	- var pageTitle = 'Главная страница';
	- var pageDescription = 'Описание главной страницы';

block content
	main.page-main

		.page-main__title
			.page-main__title-inner
				//- .title
		
		.page-main__services
			.page-main__services-inner
				.title
				.page-main__services-list
					.page-main__services-item
					.page-main__services-item
					.page-main__services-item

		.page-main__prices
			.page-main__prices-inner
				.title
				.table__legend
				.table
				.table__legend
				.table
		
		.page-main__rules
			.page-main__rules-inner
				.title
				.list
					.list__item.list__item_middle
					.list__item.list__item_middle
					.list__item.list__item_middle
					.list__item.list__item_middle
					.list__item.list__item_middle
					.list__item.list__item_middle

		.page-main__advantages
			.page-main__advantages-inner
				.title
				.list
					.list__item.list__item_vertical
					.list__item.list__item_vertical
					.list__item.list__item_vertical
					.list__item.list__item_vertical
					.list__item.list__item_vertical
					.list__item.list__item_vertical

		.page-main__trust
			.page-main__trust-inner
				.title
				.list
					.list__item.list__item_big
					.list__item.list__item_big
					.list__item.list__item_big

		.page-main__form
			.page-main__form-inner
				//- .title
		
		.page-main__addresses
			.page-main__addresses-inner
				.title
				.page-main__maps
					.page-main__maps-item
						.map__description
						.map
					.page-main__maps-item
						.map__description
						.map







