.title
	margin 0
	margin-bottom 10%
	padding 0
	
	font-size 1.8rem
	line-height 1.2
	font-weight 900
	
	+above($tablet)
		margin-bottom 8%
		font-size 3.2rem
		
	+above($desktop)
		margin-bottom 5%
		font-size 4.2rem