.map
	border 3px solid #fff
	+above($desktop)
		float left
		width 60%

	&__description
		margin-bottom 5%
		line-height 1.4
		
		+above($tablet)
			font-size 1.8rem
		
		+above($desktop)
			display inline-block
			text-align left