mixin tel
	a.tel(href='tel:+79876543221') +7 (495) 987-65-43

mixin tel-dark
	a.tel.tel_dark(href='tel:+79876543221') +7 (495) 987-65-43

mixin tel-with-icon
	a.tel.tel_inner-icon(href='tel:+79876543221') +7 (495) 987-65-43