ul.list-services
	li.list-services__item
		.list-services__item-value
			span Демонтаж<br>металлоконструкций
		
		.list-services__item-pic
			img(src='assets/img/content/breakdown.jpg')
		
		.list-services__item-price
			span Бесплатно


	li.list-services__item
		.list-services__item-value
			span Скупка<br>металлолома
		
		.list-services__item-pic
			img(src='assets/img/content/bay.jpg')
		
		.list-services__item-price
			span от 9000 р. за тонну
	

	li.list-services__item
		.list-services__item-value
			span Вывоз<br>металлолома
		
		.list-services__item-pic
			img(src='assets/img/content/export.jpg')
		
		.list-services__item-price
			span Бесплатно










