.header
	&__inner
		container()
		mh(170) /*временно*/
		font-size 0
	
	&__logo
		mh(170) /*временно*/
		display inline-block
		width 24%
		padding-top 16px
		

	&__contacts
		mh(170) /*временно*/
		display inline-block
		width 41%
		
	&__callback
		mh(170) /*временно*/
		display inline-block
		width 35%
		