.footer
	
	&__inner
		container()
		clearfix()
		padding-top 30px
		font-size 0

	&__copyrights
		mh(85) /*временно*/
		// display inline-block
		float left
		width 33.33%
	
	&__social
		mh(85) /*временно*/
		// display inline-block
		float left
		width 33.33%
		
	&__contacts
		mh(85) /*временно*/
		// display inline-block
		float right
		width 33.33%