

footer.footer
	.footer__inner
		.footer__contacts
			p 
				+tel
				br
				+mail-inline
			

		.footer__social
			+icon('fb')
			+icon('tw')
			+icon('vk')

		.footer__copyrights
			p &copy; Lomohvat.ru
				br
				|Все права защищены.
			
