.input
	width 100%
	outline none
	padding 7px 15px
	font-family inherit
	font-size inherit
	line-height inherit
	font-weight 600
	text-transform uppercase
	text-align center
	
	color #000
	background #fff

	&:focus
		border 3px solid #fff