.svg-icon
	display inline-block
	fill currentColor
	padding-right 10px
	width 50px
	height 50px

.icon-fb
	@extends $icon-fb
	
.icon-tw
	@extends $icon-tw
	
.icon-vk
	@extends $icon-vk
	
.icon-ig
	@extends $icon-ig